<h1 class="title">
    Cadastro de Produtos</h1>
<form (ngSubmit)="submit()" [formGroup]="formProduct" #f="ngForm">
    <div>
        <mat-form-field>
            <mat-label>ID</mat-label>
            <input matInput type="number" formControlName="id" name="id">
        </mat-form-field>
        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="O nome do produto" formControlName="name" name="name" requried>
            <mat-error *ngIf="getFieldIsValid(formProduct.controls['name'])">{{productValidatorMessages.getNameMessages(formProduct.controls['name'])}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Marca</mat-label>
            <input matInput placeholder="O nome do produto" formControlName="brand" name="brand" requried>
            <mat-error *ngIf="getFieldIsValid(formProduct.controls['brand'])">{{productValidatorMessages.getBrandMessages(formProduct.controls['brand'])}}</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Preco</mat-label>
            <input matInput type="number" placeholder="Preco" formControlName="price" name="price" required>
            <mat-error *ngIf="getFieldIsValid(formProduct.controls['price'])">{{productValidatorMessages.getPriceMessages(formProduct.controls['price'])}}</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Preco de Custo</mat-label>
            <input matInput type="number" placeholder="Preco" formControlName="purchasePrice" name="purchasePrice" required>
            <mat-error *ngIf="getFieldIsValid(formProduct.controls['purchasePrice'])">{{productValidatorMessages.getPurchasePriceMessages(formProduct.controls['purchasePrice'])}}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Categoria</mat-label>
            <mat-select required formControlName="category" name="category" [compareWith]="compareCategory">
                <mat-option>--</mat-option>
                <mat-option *ngFor="let category of categories" [value]="category">
                    {{category.name}}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="getFieldIsValid(formProduct.controls['category'])">{{productValidatorMessages.getCategoryMessages(formProduct.controls['category'])}}</mat-error>
        </mat-form-field>
    </div>
    <div>
        <mat-form-field>
            <mat-label>Estoque</mat-label>
            <input matInput type="number" placeholder="Esoque" formControlName="stock" name="stock" required>
            <mat-error *ngIf="getFieldIsValid(formProduct.controls['stock'])">{{productValidatorMessages.getStockMessages(formProduct.controls['stock'])}}</mat-error>
        </mat-form-field>
    </div>
    <div class="button">
        <button mat-raised-button color="primary" [disabled]="formProduct.invalid">Enviar</button>
    </div>

</form>