.card {
    width: 500px;
    .title-header,
    .form,
    .action {
        justify-content: center;
        margin: auto;
    }
    .title {
        font-size: 1.9rem;
        margin: 20px;
    }
    .form {
        margin: 20px;
        display: flex;
        flex-direction: column;
    }
    .action {
        margin: 20px;
        padding: 0 16px;
    }
    .button {
        width: 100%;
    }
}

.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}